body {
  text-align: center;
}

.title {
  width: 7rem;
  height: auto;
}

.header {
  width: fit-content;
  margin: 0 auto;
}

.header1 {
  font-size: 3rem;
  font-weight: 200;
}

.header2 {
  display: inline-block;
  width: 30rem;
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  background-color: khaki;
  border: 0.2rem solid black;
  border-radius: 0.5rem;
}

p {
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-size: 1.5rem;
  font-weight: 700;
}

button {
  width: 12rem;
  height: 4rem;
  margin-left: 5rem;
  margin-right: 5rem;
  border-radius: 0.5rem;
  border: 0.1rem solid dimgray;
  transition: transform 500ms;
}

.main1 {
  font-size: 1rem;
  background-color: sandybrown;
}

.main2 {
  background-color: cornflowerblue;
  font-size: 1.6rem;
  font-weight: 700;
}

button:hover {
  border: 0.2rem solid black;
  transform: translateY(-0.5rem);
  box-shadow: 0 0.2rem 0.2rem 0.2rem lightgray;
}
